* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Charter Regular Webfont';
  src: url('charter_regular-webfont.ttf');
}

body {
  font-family: 'Charter Regular Webfont', sans-serif;
  line-height: 1.5;
  max-width: 80ch;
  font-size: 16px;
}

h1 {
  font-family: 'Charter Regular Webfont', sans-serif;
}

img {
  max-width: 100%;
}

input#days {
  padding: .5em;
  max-width: 135px;
}

button {
  margin-top: 1em;
  padding: .75em;
}

.grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

summary {
  text-align: left;
  min-width: 80ch;
  font-size: 18px;
  margin-bottom: .5rem; 
}

details {
  max-width: 60ch;
  margin-bottom: .5rem;
}
